{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "shared-node-browser": true,
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0
  }
}
